.app.dark {
    --bg-color: #292635;
    --inverted-bg-color: #edeee5;
    --primary-color: #03cc90;
    --secondary-color: #589784;
    --inverted-primary-color: #815109;
    --inverted-secondary-color: #7e6c4a;
}
