:root {
    --bg-color: #f8f7f0;
    --inverted-bg-color: #292635;
    --primary-color: #683200;
    --secondary-color: #7c714d;
    --inverted-primary-color: #03cc90;
    --inverted-secondary-color: #589784;
}
